<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'inicio' %}">
            <i class="fas fa-home me-2"></i>Inicio
        </a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
            <i class="fas fa-store me-2"></i>Sucursales
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'agregar_sucursal' %}">Agregar Sucursal</a></li>
            <li><a class="dropdown-item" href="{% url 'ver_sucursales' %}">Ver Sucursales</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#">
            <i class="fas fa-users me-2"></i>Clientes
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'agregar_cliente' %}">Agregar Cliente</a></li>
            <li><a class="dropdown-item" href="{% url 'ver_clientes' %}">Ver Clientes</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#">
            <i class="fas fa-user-tie me-2"></i>Empleados
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'agregar_empleado' %}">Agregar Empleado</a></li>
            <li><a class="dropdown-item" href="{% url 'ver_empleados' %}">Ver Empleados</a></li>
        </ul>
    </li>
</ul>